/* --- IMPORTS --- */
@import url("./normalize.css");
@import url("./assets/fonts/switzer/css/switzer.css");

@import url("./css/nav.css");
@import url("./css/main.css");
@import url("./css/about.css");
@import url("./css/service.css");
@import url("./css/projects.css");
@import url("./css/contact.css");
@import url("./css/kitchen.css");

/* --- FONTS --- */
@font-face {
  font-family: "Subfont";
  src: url("./assets/fonts/astralaga/Astralaga\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "Subfont-Light";
  src: url("./assets/fonts/astralaga/Astralaga\ Light.otf") format("opentype");
}

:root {
  --background-color: #1d1918;
  --accent-color: #151515;

  --secondary-accent-color: #bfc5c5;
  --text-color: #fffdf7;

  --danger-color: #bf0d40;
}

* {
  /* font-family: Switzer-Bold; */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: var(--background-color);
  color: var(--text-color);
}

.body-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@media (min-width: 900px) {
  html,
  body {
    height: 100%;
  }

  .contact-section {
    width: 100%;
    display: flex;
  }
}

@media (max-width: 900px) {
  .col {
    width: 100%;
  }
}
