/* ============== KITCHEN ==============  */

.kitchen {
  padding-top: 100px;
  width: 100vw;
  display: grid;
  place-items: center;
}

.kitchen-content {
  max-width: 95vw;
}

#kitchen-title {
  font-family: Subfont;
  font-size: 5rem;
  line-height: 0;
}

#kitchen-text {
  font-family: Switzer-Light;
  font-size: 1.5rem;
  line-height: -1px;
  width: 85%;
  padding: 0.5rem 0.25rem;
}

.kitchen-list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* Verhindert weiße Linien unter den Bildern */
}

.kitchen-list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.kitchen-list .item {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.kitchen-list .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s ease;
}

.kitchen-list .item:hover::after {
  backdrop-filter: blur(2px);
}

.kitchen-list .item h2 {
  font-family: Subfont;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  color: var(--text-color);
  z-index: 1;
}

.kitchen-list .item:hover h2 {
  opacity: 1;
}

.kitchen-list-similar {
  padding: 0.5rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
}

.kitchen-list-similar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* Verhindert weiße Linien unter den Bildern */
}

.kitchen-list-similar .item {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.kitchen-list-similar .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s ease;
}

.kitchen-list-similar .item:hover::after {
  backdrop-filter: blur(2px);
}

.kitchen-list-similar .item h2 {
  font-family: Subfont;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  color: var(--text-color);
  z-index: 1;
}

.kitchen-list-similar .item:hover h2 {
  opacity: 1;
}

.kitchen-similar-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.similar-title {
  font-size: 3rem;
  font-family: Subfont;
  line-height: 0;
}

@media screen and (max-width: 992px) {
  .kitchen-content {
    width: 100vw;
  }

  .kitchen-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #kitchen-title {
    text-align: center;
    font-size: 2rem;
    line-height: normal;
  }

  #kitchen-text {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
  }

  #kitchen-name {
    font-size: 1rem;
  }

  .kitchen-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1920px) {
  .kitchen-list {
    grid-template-columns: repeat(2, 1fr);
    /* Einzelne Spalte bei großen Bildschirmen */
  }

  .kitchen-list .item img {
    height: 1000px;
    /* Anpassung der Höhe bei großen Bildschirmen */
  }
}

.container {
  padding-top: 80px;
  /* border: 1px solid green; */
}

.detail-text-container {
  width: 50%;
}

.detail-text-content {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.detail {
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.title {
  font-family: Subfont;
  font-size: 1rem;
  border-bottom: 5px solid var(--danger-color);

  line-height: 0;
  margin: 0;
}

.detail-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 0.5rem;
}

#detail-description__header {
  font-size: 1rem;
  font-family: Switzer-Regular;
}

.desc,
.detail-spec {
  width: 75%;
  font-family: Switzer-Light;
  font-size: 0.75rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#buttons_contact a {
  font-size: 1.25rem;
  padding: 0.5rem;
  font-family: Switzer-Bold;
  background-color: var(--text-color);
  color: var(--accent-color);
}

.detail .image img {
  height: 650px;
  width: 100%;
  object-fit: cover;
  /* Sicherstellt, dass das Bild das Container-Verhältnis bewahrt */
  display: block;
  /* Verhindert weiße Linien unter den Bildern */
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.detail .image img:hover {
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transform: scale(1.05);
}

.detail .image {
  position: relative;
}

@media screen and (max-width: 768px) {
  .detail {
    flex-direction: column;
  }

  .detail-text-container h1 {
    line-height: 0;
    font-size: 2rem;
  }

  .detail-text-container p {
    font-size: 1.5rem;
    text-align: left;
  }

  .kitchen-list-similar {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Grundlegende Modalstile */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
  transition: transform 0.25s ease;
}

.close {
  position: absolute;
  top: 100px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal-content:hover {
  transform: scale(1.2);
}

/* Anpassungen für Mobilgeräte */
@media screen and (max-width: 480px) {
  .modal-content {
    width: 95%;
    max-width: 400px;
  }

  .close {
    top: 5px;
    right: 10px;
    font-size: 25px;
  }
}

.swiper {
  width: 80%;
  margin: auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--text-color);
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 1rem !important;
}

.swiper-pagination-bullet-active {
  background: var(--text-color) !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
}

/* Anpassungen für Tablets und kleinere Bildschirme */
@media screen and (max-width: 768px) {
  .modal-content {
    margin-top: 100px;
    width: 90%;
    max-width: 600px;
  }

  .detail .image {
    height: auto;
  }

  .close {
    top: 100px;
    right: 20px;
    font-size: 30px;
  }

  .swiper {
    width: 100%;
  }
}
