/* ============== KITCHEN ==============  */

.kitchen {
  padding-top: 100px;
  width: 100vw;
  display: grid;
  place-items: center;
}

.kitchen-content {
  max-width: 95vw;
}

#kitchen-title {
  font-family: Subfont;
  font-size: 5rem;
  line-height: 0;
}

#kitchen-text {
  font-family: Switzer-Light;
  font-size: 1.5rem;
  line-height: -1px;
  width: 85%;
  padding: 0.5rem 0.25rem;
}

.kitchen-list .item img {
  width: 100%;
  height: 100%; /* Anpassung der Höhe auf 100%, damit das Bild vollständig angezeigt wird */
  object-fit: cover; /* Beibehaltung von object-fit, um das Bild korrekt zu skalieren */
}

.kitchen-list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.kitchen-list .item {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.kitchen-list .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0);
  transition: backdrop-filter 0.5s ease;
}

.kitchen-list .item:hover::after {
  backdrop-filter: blur(2px);
}

.kitchen-list .item h2 {
  font-family: Subfont;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease;
  color: var(--text-color);
  z-index: 1;
}

.kitchen-list .item:hover h2 {
  opacity: 1;
  /* Sichtbar bei Hover */
}

@media screen and (max-width: 992px) {
  .kitchen-content {
    width: 100vw;
  }

  .kitchen-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #kitchen-title {
    text-align: center;
    font-size: 2rem;
    line-height: normal;
  }

  #kitchen-text {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
  }

  #kitchen-name {
    font-size: 1rem;
  }

  .kitchen-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1920px) {
  .kitchen-list {
    grid-template-columns: repeat(2, 1fr); /* Einzelne Spalte bei großen Bildschirmen */
  }

  .kitchen-list .item img {
    height: 1000px; /* Anpassung der Höhe bei großen Bildschirmen */
  }
}

.detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  text-align: left;
}

.detail .image img {
  width: 100%;
}

.detail .image {
  position: relative;
}

.detail .image::before {
  position: absolute;
  width: 300px;
  height: 300px;
  content: "";
  background: rgb(255, 0, 0);
  z-index: -1;
  border-radius: 190px 100px 170px 180px;
  left: calc(50% - 150px);
  padding: 40px 0 0 0;
  margin: 0 0 10px 0;
}
